importFrom(Rcpp, evalCpp)
importFrom(stats, coef)
importFrom(graphics, plot)
importFrom(RSpectra, eigs_sym)
import(ggplot2)

importFrom(Matrix, sparseMatrix)
importMethodsFrom(Matrix, coerce)
importClassesFrom(Matrix, dgCMatrix)

export(fastfps, lambda_range)
S3method(coef, fastfps)
S3method(plot, fastfps)

useDynLib(fastfps, .registration = TRUE)
