importFrom(Rcpp, evalCpp)
importFrom(stats, coef)
importFrom(RSpectra, eigs_sym)

importMethodsFrom(Matrix, forceSymmetric, coerce)
importClassesFrom(Matrix, dgCMatrix, dsCMatrix)

export(fastfps)
S3method(coef, fastfps)

useDynLib(fastfps, .registration = TRUE)
